
body {
  padding: 20px;
}

hr {
  margin-left:-20px; opacity:0.3;
}

md-radio-group {
  width:150px;
}

p:last-child {
  padding-bottom: 50px;
}


[ng-controller] {
  padding-left: 20px;
}

.radioValue {
  margin-left: 5px;
  color: #005cb8; /* #0f9d58; ORIGINAL */
  font-weight: bold;
  padding:5px;

}

md-icon {
    margin: 20px;
    margin-top: 0;
    width: 128px;
    height: 128px;
}

